<!DOCTYPE html>
<html>
    <head>
        <title>Greek Mythology Heroes</title>
        <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento:700" rel="stylesheet">
        <link rel='stylesheet' type='text/css' href='/stylesheets/app.css'>
    </head>
    <body>
        <div class='ui container'>
        <div class='ui text menu'>
            <div class='header item'>
                <a href='/heroes'>
                    <i class='icon university' id='logo'></i>
                </a>
                Heroes of Greek Mythology
            </div>
            <a href='/heroes/' class='item'>Home</a>
            <a href='/heroes/new' class='item'>New</a>
        </div>  
        </div>
